" Set space as leader key
let mapleader = " "

" General settings
set scrolloff=5
set incsearch
set showmode
set number
set relativenumber
set clipboard+=unnamed
set ignorecase
set smartcase
set ideajoin

" Enable plugins
set easymotion
set surround
set commentary
set highlightedyank
set exchange
set multiple-cursors
set which-key

" Disable timeout or increase timeout length
set notimeout
" Alternatively, you can use:
" set timeoutlen=5000

" Key mappings
" Commentary
noremap <leader>/ :action CommentByLineComment<CR>

" EasyMotion
map <leader>w <Plug>(easymotion-w)

" IDE actions
map <leader>ru <Action>(Run)
map <leader>rn <Action>(RenameElement)
map <leader>de <Action>(Debug)
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>gd <Action>(GotoDeclaration)
map <leader>gi <Action>(GotoImplementation)
map <leader>fu <Action>(FindUsages)
map <leader>ff <Action>(GotoFile)
map <leader>fc <Action>(GotoClass)
map <leader>fs <Action>(GotoSymbol)
map <leader>x <Action>(CloseContent)
map <leader>o <Action>(FileStructurePopup)

" Reformat current line
map <leader>l V<Action>(ReformatCode)

" Navigation
map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)

" Move to beginning/end of line
nnoremap H ^
nnoremap L $

" Move selected lines up/down
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

" Redo
map U <C-R>

" Quick edit and reload of .ideavimrc
nnoremap <leader>vv :e ~/.ideavimrc<CR>
nnoremap <leader>vr :source ~/.ideavimrc<CR>

" Buffer and window management
nnoremap <leader>q :action CloseContent<CR>
nnoremap <leader>qa :action CloseAllEditors<CR>
nnoremap <leader>qo :action CloseAllEditorsButActive<CR>

" Tab navigation
nnoremap <leader>1 :action GoToTab1<CR>
nnoremap <leader>2 :action GoToTab2<CR>
nnoremap <leader>3 :action GoToTab3<CR>
nnoremap <leader>4 :action GoToTab4<CR>
nnoremap <leader>5 :action GoToTab5<CR>
nnoremap <leader>6 :action GoToTab6<CR>
nnoremap <leader>7 :action GoToTab7<CR>
nnoremap <leader>8 :action GoToTab8<CR>
nnoremap <leader>9 :action GoToTab9<CR>

" Navigate to next/previous tabs
nnoremap <leader>] :action NextTab<CR>
nnoremap <leader>[ :action PreviousTab<CR>

" Zen mode
nnoremap <leader>z :action ToggleDistractionFreeMode<CR>

" Better escape
imap jk <Esc>

" Go to next error
nnoremap <S-Space> :action GotoNextError<CR>