" Set space as leader key
let mapleader = " "

" General settings
set clipboard+=unnamed
set ideajoin
set ignorecase
set incsearch
set number
set relativenumber
set scrolloff=5
set showmode
set smartcase

" Enable IdeaVim plugins
set NERDTree
set commentary
set exchange
set highlightedyank
set surround
set which-key
set easymotion

" Disable timeout for better which-key experience
set notimeout

" Key mappings
" Commentary
noremap <leader>/ :action CommentByLineComment<CR>

" IDE actions
map <leader>df :action ToggleDistractionFreeMode<CR>
map <leader>fa :action GotoAction<CR>
map <leader>fc :action ReformatCode<CR>
map <leader>ff :action FindInPath<CR>
map <leader>hw :action HideAllWindows<CR>
map <leader>me :action MaximizeEditorInSplit<CR>
map <leader>oi :action OptimizeImports<CR>
map <leader>pi :action ParameterInfo<CR>
map <leader>pm :action TogglePresentationMode<CR>
map <leader>rr :action ReplaceInPath<CR>
map <leader>sd :action ShowErrorDescription<CR>
map <leader>se :action SearchEverywhere<CR>
map <leader>si :action ShowIntentionActions<CR>
map <leader>tb :action ToggleLineBreakpoint<CR>

" Navigation
map <C-o> :action Back<CR>
map <C-i> :action Forward<CR>
map <leader>e :action RecentFiles<CR>
map <leader>gc :action GotoClass<CR>
map <leader>gd :action GotoDeclaration<CR>
map <leader>ge :action GotoNextError<CR>
map <leader>gf :action GotoFile<CR>
map <leader>gi :action GotoImplementation<CR>
map <leader>gp :action GotoPreviousError<CR>
map <leader>gs :action GotoSymbol<CR>
map <leader>gt :action GotoTest<CR>
map <leader>gu :action ShowUsages<CR>

" Refactoring
map <leader>re :action Refactorings.QuickListPopupAction<CR>
map <leader>rf :action IntroduceField<CR>
map <leader>ri :action Inline<CR>
map <leader>rm :action ExtractMethod<CR>
map <leader>rn :action RenameElement<CR>
map <leader>rp :action IntroduceParameter<CR>
map <leader>rv :action IntroduceVariable<CR>

" Run and Debug
map <leader>de :action Debug<CR>
map <leader>ru :action Run<CR>
map <leader>st :action Stop<CR>

" Windows and splits
map <leader>sc :action Unsplit<CR>
map <leader>sh :action SplitHorizontally<CR>
map <leader>sm :action MoveEditorToOppositeTabGroup<CR>
map <leader>sv :action SplitVertically<CR>
map <leader>sw :action EditorToggleUseSoftWraps<CR>

" Move between splits
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Tabs
map <leader>] :action NextTab<CR>
map <leader>[ :action PreviousTab<CR>

" Tool windows
map <leader>td :action ActivateDebugToolWindow<CR>
map <leader>tp :action ActivateProjectToolWindow<CR>
map <leader>pt :action ActivateProjectToolWindow<CR>
map <leader>tr :action ActivateRunToolWindow<CR>
map <leader>ts :action ActivateStructureToolWindow<CR>
map <leader>tt :action ActivateTerminalToolWindow<CR>

" Closing tabs and editors
map <leader>qa :action CloseAllEditors<CR>
map <leader>qo :action CloseAllEditorsButActive<CR>
map <leader>qp :action CloseProject<CR>
map <leader>qt :action CloseActiveTab<CR>
map <leader>qx :action CloseContent<CR>

" Save
nnoremap <leader>w :action SaveAll<CR>

" Move to beginning/end of line
nnoremap H ^
nnoremap L $

" Move selected lines up/down
vnoremap J :m '>+1<CR>gv=gv
vnoremap K :m '<-2<CR>gv=gv

" Redo
nnoremap U <C-R>

" Quick edit and reload of .ideavimrc
nnoremap <leader>ve :e ~/.ideavimrc<CR>
nnoremap <leader>vr :source ~/.ideavimrc<CR>

" Version control
map <leader>vv :action Vcs.QuickListPopupAction<CR>

" Better escape
inoremap jk <Esc>

" Quick documentation
nnoremap K :action QuickJavaDoc<CR>

" Go to exact window
nnoremap <leader>1 :action GoToTab1<CR>
nnoremap <leader>2 :action GoToTab2<CR>
nnoremap <leader>3 :action GoToTab3<CR>
nnoremap <leader>4 :action GoToTab4<CR>
nnoremap <leader>5 :action GoToTab5<CR>
nnoremap <leader>6 :action GoToTab6<CR>
nnoremap <leader>7 :action GoToTab7<CR>
nnoremap <leader>8 :action GoToTab8<CR>
nnoremap <leader>9 :action GoToTab9<CR>

" Create new file/directory
nnoremap <leader>nf :action NewFile<CR>
nnoremap <leader>nd :action NewDir<CR>

" Exchange plugin
nmap cx <Plug>(Exchange)
xmap X <Plug>(Exchange)
nmap cxc <Plug>(ExchangeClear)
nmap cxx <Plug>(ExchangeLine)

" NERDTree Mappings
" o: Open files, directories and bookmarks
" go: Open selected file, but leave cursor in the NERDTree
" t: Open selected node/bookmark in a new tab
" T: Same as 't' but keep the focus on the current tab
" i: Open selected file in a split window
" gi: Same as i, but leave the cursor on the NERDTree
" s: Open selected file in a new vsplit
" gs: Same as s, but leave the cursor on the NERDTree
" O: Recursively open the selected directory
" x: Close the current nodes parent
" X: Recursively close all children of the current node
" P: Jump to the root node
" p: Jump to current nodes parent
" K: Jump up inside directories at the current tree depth
" J: Jump down inside directories at the current tree depth
" <C-J>: Jump down to next sibling of the current directory
" <C-K>: Jump up to previous sibling of the current directory
" r: Recursively refresh the current directory
" R: Recursively refresh the current root
" m: Display the NERDTree menu
" q: Close the NERDTree window
" A: Zoom (maximize/minimize) the NERDTree window
" d: Delete file or directory
" n: Create File
" N: Create Directory